<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Interview list</title>
    </head>
    <style>
        table, th, td {border: 1px solid gray}
    </style>
    <body>
        Please choose a filter:
        <form method="post">
            <div>
                <ul>
                    <table style="width:100%">
                        <tr>
                            <th><a href="http://localhost:5000/list"><button type="submit">School</button></a></th>
                            <th><button type="submit" name="app_code">Application code</button>
                            </th>
                            <th><button type="submit" name="mentor">Mentor</button>
                            </th>
                            <th><button type="submit" name="School_name">Start date</button>
                            </th>
                            <th><button type="submit" name="School_name">End date</button>
                            </th>
                        </tr>
                        <!-- {% for applicant in applicants %}
                        <tr>
                            <td align="center">{{applicant.school.name}}</td>
                            <td align="center">{{applicant.app_code}}</td>
                            <td align="center">{{applicant.interview.mentor.first_name + ' ' + applicant.interview.mentor.last_name}}</td>
                            <td align="center">{{applicant.interview.start_date}}</td>
                            <td align="center">{{applicant.interview.end_date}}</td>
                        </tr>
                        {% endfor %} -->
                    </table>
                </ul>
            </div>
        </form>
    </body>
</html>
