

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Interview list</title>
    </head>
    <style>
        table, th, td {border: 1px solid gray}
    </style>
    <body>
        <form method="post">
            <div>
                <ul>
                    <table style="width:100%">
                        <tr>
                           <td><select name="school_name">
                                <option value="0">All</option>
                                <option value="1">Budapest</option>
                                <option value="2">Miskolc</option>
                                <option value="3">Krakow</option>
                                </select></td>
                            <td><input type="text" name="app_code"></td>
                            <td><input type="text" name="mentor"></td>

                        </tr>
                        <tr>
                            <!--<th>School</th>School-->
                            <th><a href="http://localhost:5000/list/school">School</a></th>
                            <th><a href="http://localhost:5000/list/app_code">App code</a></th>
                            <th><a href="http://localhost:5000/list/mentor">Mentor</a></th>
                            <th>Start date</th>
                            <th>End date</th>
                        </tr>
                        {% for applicant in applicants %}
                        <tr>
                            <td align="center">{{applicant.school.name}}</td>
                            <td align="center">{{applicant.app_code}}</td>
                            <td align="center">{{applicant.interview.mentor.first_name + ' ' + applicant.interview.mentor.last_name}}</td>
                            <td align="center">{{applicant.interview.start_date}}</td>
                            <td align="center">{{applicant.interview.end_date}}</td>
                        </tr>
                        {% endfor %}
                    </table>
                </ul>
            </div>
            <button type="submit">Submit</button>
        </form>
    </body>
</html>
