<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset='UTF-8'>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://bootswatch.com/cosmo/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../static/navbar_style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title>Codelabor - School System</title>


</head>

<body>
    <nav class="navbar navbar-default navbar-fixed-top">
          <div class="container-fluid"></div>
            <div class="navbar-header"></div>
              <a href="#" class="logo-img" ><img src="../static/codecool_logo_white.png" align="middle" alt="Logo"></a>
            </div>
            <ul class="nav navbar-nav" "pagination">
              <li class="text-navbar"><a href="http://localhost:5000/about">About</a></li>
              <li><a href="http://localhost:5000/register">Register</a></li>
              <div class="dropdown">
                  <button class="btn btn-default navbar-nav" type="button" data-toggle="dropdown">List</button>
                  <ul class="dropdown-menu">
                    <li><a href="#">Applicant Info</a></li>
                    <li><a href="#">Interview Info</a></li>
                  </ul>
                </div>
          </ul>
              <ul class="nav navbar-nav navbar-right">
              <li><a href="#login" class="navbar-right">Login</a></li>
            </ul>
          </div>
    </nav>
    <nav>
        <div class="background-image"><img src="../static/codingiscool.png">
        </div>
    </nav>

</body>

</html>
