<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset='UTF-8'>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://bootswatch.com/cosmo/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title>Codelabor - School System</title>

<style>

body { padding-top: 80px; }
.navbar {
margin: 0px 0;

}

.navbar-default {
border-color: #fff;
background-image: url("../static/navbar.png");
}
.brand-name {
font-family: 'Josefin Slab', serif;
font-size: 47px;
font-weight: bold;
color: #444;
text-decoration: none;
}


.navbar-custom {
font-size: 20px;
background-color: #FFF;

}
}

</style>

</head>

<body>
    <nav class="navbar navbar-default navbar-fixed-top">
          <div class="container-fluid"></div>
            <div class="navbar-header"></div>
              <a href="#" class="navbar-left" ><img src="../static/codecool_logo.png" align="middle"></a>
            </div>
            <ul class="nav navbar-nav" "pagination">
              <li><a href="http://localhost:5000/about">About</a></li>
              <li><a href="http://localhost:5000/register">Register</a></li>
              <li class="active"><a href="#">List</a></li>
              <li><a href="#login" class="navbar-right">Login</a></li>
            </ul>
          </div>
    </nav>
</body>

</html>
