<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>welcome</title>
    </head>
    <body>
        <form action="http://localhost:5000/registration">
            <input type="submit" value="Registration" />
        </form>
        <br/>
        <form action="http://localhost:5000/list_interviews">
            <input type="submit" value="List interviews" />
        </form>
        <br/>
        <form action="http://localhost:5000/list_applicants">
            <input type="submit" value="List applicants" />
        </form>
    </body>
</html>